/* Quickly taken from https://www.w3schools.com/css/css_tooltip.asp */

/* Tooltip container */
.tooltip {
  margin-left: 8px;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid;
  border-radius: 16px;

  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; // If you want dots under the hoverable text

  /* Tooltip text */
  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  &:hover .tooltiptext {
    visibility: visible;
  }
}
